<%= link_to("Sign Out", destroy_user_session_path, method: :delete) %>
<h1> Change your information here  </h1>
<%= form_for @user, url: {controller: "main", action: "update"} do |u| %>

<% if @name  %>
<%= u.text_field :name, placeholder: @name %>
<% else %>
<%= u.text_field :name, placeholder: "name" %>
<% end %>

<% if @location  %>
<%= u.text_field :location, placeholder: @location %>
<% else %>
<%= u.text_field :location, placeholder: "location" %>
<% end %>

<% if @phone  %>
<%= u.text_field :phone, placeholder: @phone %>
<% else %>
<%= u.text_field :phone, placeholder: "phone number" %>
<% end %>

<%= u.submit "Submit" %>

<% end %>

<h1> Make an order here  </h1>
<%= form_for @order, url: {controller: "orders", action: "create"} do |u| %>
<%= u.select(:quantity, options_for_select([[25, 25],[50, 50], [75, 75],[100, 100],[125, 125],[150, 150]], 0)) %>
<%= u.submit "Submit" %>
<% end %>

<p>
<h3> Your Orders: </h3>
<%  @orders.each do |o|  %>
<%= link_to "Cancel Order", order_path(o), method: :delete %>

<h4>Quantity:</h4>
<%= o.quantity %>

<h4>Created At:</h4>
<%= o.created_at %>
</p>
<% end %>
<h1> Leave Us A Message  </h1>

<%= form_tag('/message') do |f|%>
<input type="text"></input>
<input type="submit"></input>
<% end %>

